/*---- project content page ---*/

.project_step_content
{
    font-size:20px;
}

.prohect_step_content pre
{
    white-space: break-spaces !important;
}
.project_step_content h1
{
    line-height:1;
    display:block;
    font-weight:normal;
    margin:10px 0;
    font-size:1.6em;
}

.project_step_content h2
{
    line-height:1.2;
    display:block;
    font-weight:normal;
    margin:40px 0;
    font-size:24px;
}

.project_step_content p
{
    margin:0 0 40px 0;
}

.project_step_content table
{
    width:100%;
    border:1px solid gray;
    border-collapse:collapse;
    text-align:center;
}
.project_step_content td, .project_step_content th
{
    border:1px solid gray;
    padding:10px;
}
