/*---- edit page ---*/
.edit_section
{
    display:flex;
    padding:60px 100px 50px 100px;
    min-height:100vh;
}
.edit_error
{
   display:flex;
   justify-content: center;
   padding:100px;
}
.edit_error_msg
{
    color:black;
    border:1px solid black;
    padding:30px;
    width:fit-content;
}
.project_left
{
	flex:1;
	padding-right:80px;
}
.project_right
{
    width:250px;
}

.project_stats
{
    font-size:15px;
    color:#444;
    fill:#444;
    display:flex;
    margin-top:5px;
}
.project_stats_item
{
    display:flex;
    align-items:center;
    margin-right:10px;
    padding-right:10px;
    aborder-right:1px solid gray;
}
.stats_category
{
    background:#f0f0f0;
    border-radius:5px;
    padding:5px 10px;
}
.project_stats_item svg
{
    width:20px;
    margin-right:5px;
}

.project_image
{
    width:100%;
    padding-top:56.25%;
    background-size: cover;
    background-position: center center;
    margin-bottom:10px;
    background-image:url("../img/no_image.svg")
}
.project_title
{
    font-weight:bold;
}

.project_info
{
    font-size:18px;
    font-weight:normal;
}
.project_item
{
    amargin-top:20px;
}
.project_item .btn_project_open
{
    display:inline-block;
}
.btn_opened svg
{
    transform:rotate(90deg);
}
.project_item .project_title
{
    display:inline-block !important;
}
.project_item svg
{
    width:12px;
}
.project_steps
{
}
.project_btn
{
    margin-bottom:20px;
}
.steps_section
{
    padding-left:20px;
    margin-bottom:20px;
}
.edit_menu_item
{
    color:inherit;
    padding:0;
    margin-bottom:2px;
    text-decoration:none;
    display:block;
    width:fit-content;
    font-size:16px;
    border-bottom:1px solid transparent;
}
.edit_menu_item:hover
{
    border-bottom:1px dotted gray;
}
.edit_menu_item_selected, .edit_menu_item_selected:hover
{
    border-bottom:1px solid black;
}
.project_step_wrapper
{
    margin:0px 0 100px 0;
    position:relative;
}
.content_header
{
  position: sticky; 
  top: 0;
  background:white;
  z-index:2;
  padding-top:10px;							
}
.trix-content
{
    min-height:400px;
    /*max-height:2000px;
    overflow-y: auto;*/
    margin:0px 0 40px 0;
    font-size:16px;
}
trix-toolbar
{
    margin-top:20px;
    margin-bottom:10px;
    /*position: sticky;
    top:0;
    background:white;
    z-index:2;*/
}
.project_step_content:focus
{
    border-color:gray;
}
.loading
{
    margin-top:30px;
    text-align:center;
    position:absolute;
    left:0;
    top:0;
}
.edit_menu
{
    padding-top:0px;
}
.edit_step_top
{
    margin-bottom:40px;
}
.edit_bottom
{
    margin-top:40px;
}
.lbl_menu
{
    font-size:16px;
    color:#888;
    fill:#888;
    margin-top:15px;
    margin-bottom:10px;
    display:flex;
    align-items: center;
}

.lbl_menu:first-child
{
    margin-top:0;
}
.btn_menu
{
    line-height: 0;
    margin-left:10px;
    fill:inherit;
}
.project_menu
{
    padding-left:10px;
}
.btn_menu:hover
{
    fill:black;
}
.btn_menu svg
{
    width:18px;
    fill:inherit;
}

.input_row
{
    margin-bottom:20px;
}
label
{
    display:block;
    font-size:15px;
    color:#aaa;
}
input, textarea, select
{
    width:100%;
    font-size:16px;
    font-family:"Open Sans",sans-serif;
    padding:5px 0;
    border:none;
    border-bottom:1px solid #bbb;
    outline: none;
}
input:focus, textarea:focus, select:focus
{
    border-color:gray;
}
.input_error
{
  border-color:red;
}
/* account  */
.account_row
{
    display:flex;
}
.account_col:first-child
{
    text-align:center;
    flex:1;
}
.account_col:last-child
{
    flex:4;
    padding-left:80px;
    max-width:800px;
    text-align:left;
}
.account_image
{
    width:200px;
    height:200px;
    margin-top:10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom:20px;
}
#user_image
{
    border-radius:50%;
    background-image:url("../img/no_user.svg");
}
#project_image
{
    background-image:url("../img/no_image.svg");
}
.account_hint
{
    color:#aaa;
    font-size:14px;
    margin:20px 0;
}
.account_btn
{
    color:inherit;
    padding:5px 10px;
    border:1px solid gray;
    border-radius:5px;
    width:fit-content;
    display:inline-block;
    font-size:16px;
    text-decoration:none;
}

.account_btn:hover
{
    background:#f0f0f0;
}
.account_btn[disabled] 
{
    pointer-events: none;
    border-color:#aaa;
    color:#aaa;
}
.account_btn[disabled]:hover 
{
    background-color:inherit;
}
.step_result
{
    background: gray;
    padding: 0 5px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
.step_result:empty
{
    display:none;
}
.lbl_result
{
    display:block;
    margin-top:25px;
    display:block;
    color:gray;
}
.lbl_result_error
{
    background:red;
    color:white;
}