* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

.hide
{
	display:none !important;
}

body
{
	background:white;
	font-family:sans-serif;
	font-size:16px;
}

.login 
{
	position:absolute;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.login_popup
{
	flex:1;
	margin:50px;
	background-color:white;
	min-width:300px;
	max-width:350px;
	padding: 20px 20px 10px 20px;
}
.login_title
{
	font-size:18px;
	margin:0 0 40px 0;
	padding:10px 10px 10px 0;
	color:black;
}
.form_row
{
	margin-bottom:30px;
}
label
{
	color:#999;
	display:none;
	margin-bottom:10px;
	font-size:14px;
}

input
{
	color:black !important;
	font-size:16px;
	text-align: left;
	background-color: white; 
	border:0;
	border-bottom: 1px solid #bbb;
	padding: 0 0 5px 0;
	width: 100%;
	transition: border .5s;
}
input:focus 
{
	border-bottom: 1px solid #555;
	box-shadow: none;
}

.recover_text
{
	font-size:14px;
	margin-top:30px;
	line-height:1.1;
}

.login_link
{
	color:black;
	text-decoration:underline
}
.login_link:hover
{
	color:#555;
}

.btn {
	color: black;
	border:1px solid black;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 25px;
	padding: 10px 0;
	text-align:center;
	text-decoration: none;
	text-shadow: none;
	border-radius: 0;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 100%;
	margin: 40px auto 0 auto;
  }
  
  .btn:hover {
	background-color: #f0f0f0;
  }


  .login_error
  {
	  color:red;
	  margin-bottom:10px;
	  min-height:20px;
	  line-height:1.2;
  }
  .error_no
  {
	  color:gray !important;
  }
  


.backshape
{
  display:none;
}

.navbar
{
	background:transparent !important;
}
.navbar-brand
{
	width:300px !important;
}
.nav_language .nav-link
{
	border:0 !important;
	color:white !important;
}
.nav_language .nav-link.disabled
{
	color:gray !important;
}


.title
{
	color:white;
	padding:40px 60px 40px 50px;
	border-left:1px solid white;
	flex:2;
}
.title img
 {
 	width:300px;
 	margin-bottom:40px;
 }
.title a
{
	display:inline-block;
	padding:10px 20px;
	margin-top:30px;
	font-size:20px;
	color:white;
	background:transparent;
	border:1px solid white;
	background:rgba(0,0,0,0.2);
}
.title a:hover
{
	color:white;
	background:rgba(0,0,0,0.5);
	text-decoration:none;
	aborder-color:black;
}
.title h1
{
	font-family:"Montserrat";
	font-size:38px;
	font-weight:400;
	text-transform:none;
	line-height:1.25;
}



.app-title 
{
	text-align: left;
	color: #777;
}

