 @import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Montserrat:400,700,800|Open+Sans&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
body
{
	font-family:"Open Sans",sans-serif;
	font-size:18px;
	margin:0;
	color:black;
} 

h1,h2,h3,h4
{
	font-family:"Montserrat",serif;
	font-weight:bold;
	margin:0;
	line-height:1.2;
}
.uppercase
{
	text-transform:uppercase;
}

.break_word
{
	word-break: break-word;
}
.hide, .hidden
{
	 display:none !important;
}
.lng
{
	display:none;
}

.btn_default
{
	outline:none;
	display:inline-block;
	padding:10px 15px;
	font-size:16px;
	color:white;
	text-decoration:none;
	background:black;
	border-radius:5px;
}
.btn_default:hover
{
	background:#222;
}
/*---- nav ---- */
nav 
{
	padding:10px 20px;
	background:black;
	border-bottom:1px solid #eee;
	display:flex;
	align-items: center;
	position:relative;
	height:62px;
	color:white;
	fill:white;
}
.nav_left
{
	flex:1;
}
.nav_brand
{
	text-decoration:none;
	display:inline-block;
}
.nav_brand .brand_text
{
	font-family:"Hind Madurai";
	font-weight:700;
	color:white;
	font-size:42px;
	letter-spacing: -1px;
	padding-top:5px;
	line-height:1;
}
.nav_brand:hover
{

}
.nav_links
{
	margin-right:30px;
}
.nav_user_img 
{
	width:45px;
	border-radius:50%;
	background:white;
	padding-top:100%;
    background-size: cover;
	background-position: center center;
	background-image:url("../img/no_user.svg");
	
}
.btn_user
{
	display:block;
	line-height:1;
}
.user_popup
{
	display:none;
	background:black;
	position:absolute;
	top:60px;
	right:0;
	z-index:1;
	aborder:1px solid #eee;
	padding:10px 30px 10px 20px;
	
}
.user_popup_info
{
	margin-bottom:10px;
}
.user_popup_name
{
	border-bottom:1px solid white;
}
.user_option
{
	display:block;
	text-decoration:none;
	font-size:16px;
	color:inherit;
	padding:5px 0;
}
.user_option:hover
{
	color:#eee;
}
.user_popup_active
{
   display:block !important;
}

.nav_menu
{
	display:none;
}

/* ---- Modal -------*/

.modal_popup
{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	display:flex;
	align-items: center;
	justify-content: center;
	z-index:200;
}
.modal_window
{
	min-width:450px;
	max-width:550px;
	background:white;
	border:1px solid black;
	padding:20px;
	margin-top:-100px;
}
.modal_header
{
	font-weight: bold;
}
.modal_body
{
	padding-top:20px;
}
.modal_footer
{
	padding-top:20px;
	text-align:right;
}
.modal_btn_accept
{

}

/* ---- RESPONSIVE -----------------*/

@media (max-width: 768px) 
{
.nav_menu
{
	display:block;
}
}