/*---- project page ---*/
.project_section
{
    display:flex;
    padding:50px 100px;
    min-height:100vh;
}
.project_left
{
	flex:1;
	padding-right:80px;
}
.project_right
{
	max-width:250px;
}
.author_section
{
	background:#f0f0f0;
	margin-bottom:20px;
    padding:20px 20px 20px 20px;
    font-size:16px;
}
.author_name
{
    font-size:18px;
    font-weight:bold;
}
.author_user
{
    font-weight:bold;
    color:#777;
}
.author_link
{
    word-break: break-all;
    display:block;
    margin-top:10px;
    color:inherit;
    text-decoration:underline;
}

.author_info
{
    font-size:14px;
    line-height:1.2;
    margin-top:10px;
}
.author_image
{
    width:100%;
    background:white;
    margin-bottom:10px;
}
.btn_more_projects svg
{
    width:14px;
}

.options_section
{
    background:#f2f2f2;
    padding:20px 15px 30px 15px;
    font-size:14px;
}
.options_option
{
    margin-bottom:30px;
}
.options_option:last-child
{
    margin-bottom:0;
}

.option_share_sources
{
    display:flex;
}
.option_share_btn 
{
    flex:1;
    padding:10px 5px;
    max-width:40px;
}
.option_share_btn svg
{
    width:100%;
    fill:#444
}

.project_stats
{
    font-size:15px;
    color:#444;
    fill:#444;
    display:flex;
    margin-top:5px;
}
.project_stats_item
{
    display:flex;
    align-items:center;
    margin-right:10px;
    padding-right:10px;
    aborder-right:1px solid gray;
}
.stats_category
{
    background:#f0f0f0;
    border-radius:5px;
    padding:5px 10px;
}
.project_stats_item svg
{
    width:20px;
    margin-right:5px;
}

.project_image
{
    width:100%;
    padding-top:56.25%;
    aheight:250px;
    background-size: cover;
    background-position: center center;
    margin-bottom:10px;
}
.project_title
{
    font-size:40px;
}
.project_info
{
    font-size:18px;
    font-weight:normal;
}
.project_steps
{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
}
.step_item
{
    color:inherit;
    padding:5px 10px;
    border:1px solid black;
    text-decoration:none;
    margin-right:10px;
    margin-bottom:10px;
}
.step_item:hover
{
    background:#eee;
}
.step_selected, .step_selected:hover
{
    background:black !important;
    color:white !important;
}
.project_step_wrapper
{
    margin:50px 0 100px 0;
    position:relative;
}
.project_step_content
{
    margin:50px 0 100px 0;
    font-size:18px;
}
.loading
{
    margin-top:30px;
    text-align:center;
    position:absolute;
    left:0;
    top:0;
}