/*---- projects ----*/
.projects_grid
{
	display:flex;
	flex-wrap:wrap;
	padding:50px 60px;
}
.project_item
{
	width:33%;
	font-size:15px;
	margin-bottom:20px;
}
.project_wrapper
{
	padding:10px;
}
.project_image
{
	width:100%;
	padding-top:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.project_title
{
	font-weight:bold;
}
.project_link
{
	display:block;
	color:inherit;
	text-decoration:none;
}
.project_link:hover
{
    text-decoration: underline;
}
.project_date
{
	color:#555;
	font-size:13px;
	display:inline-block;
	margin-bottom:5px;
}
.project_top
{
	adisplay:flex;
	aalign-items:center;
}
.project_author
{
	font-size:13px;
	color:#555;
	margin-bottom:5px;
}
.project_bottom
{
	fill:#333;
	display:flex;
	margin-top:5px;
}
.project_bottom svg
{
	width:24px;
	margin-right:5px;
}
.project_bottom_item
{
	margin-right:10px;
	font-size:13px;
	color:#555;
	display:flex;
	align-items:center;
}
.project_category
{
	background:#f0f0f0;
    border-radius:5px;
    padding:5px 10px;
}
.projects_grid_bottom
{
	width:100%;
	padding:20px 60px;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom:60px;
}
.projects_grid_error
{
	padding:30px;
	display:block;
	abackground:#ff9090;
	border-radius: 10px;
	margin-bottom:40px;
	acolor:white;
	text-align:center;
}
.lbl_grid_error
{
	margin-bottom:20px;
}
/* filtro */
.filter_section
{
	background:#f0f0f0;
	margin:50px 70px 0 70px;
	display:flex;
	padding:10px;
}
.filter_title
{

}
.filter_col
{
	padding:5px 10px;
}
.filter_col:last-child
{
	flex:1;
	display:flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right:20px;
}
.filter_section label
{
	color:gray;
	font-size:14px;
	display:block;
	margin-bottom:5px;
}

.filter_section input, .filter_section select
{
	font-family: "Open Sans",sans-serif;
	font-size:15px;
	padding:5px;
	width:100%;
	aborder-color:#555;
	border:1px solid #d0d0d0;
	outline: none;
}
.filter_section input:focus, .filter_section select:focus
{
	border-color:#333;
}

.filter_btn
{
	background:black;
	color:white;
	text-decoration: none;
	padding:10px 20px;
	border-radius:5px;
}
.filter_btn:hover
{
	background:#333;
}