 @import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Montserrat:400,700,800|Open+Sans&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
body
{
	font-family:"Open Sans",sans-serif;
	font-size:18px;
	margin:0;
	color:black;
} 

h1,h2,h3,h4
{
	font-family:"Montserrat",serif;
	font-weight:bold;
	margin:0;
	line-height:1.2;
}
.uppercase
{
	text-transform:uppercase;
}

.break_word
{
	word-break: break-word;
}
.hide, .hidden
{
	 display:none !important;
}
.lng
{
	display:none;
}


/*---- nav ---- */
nav 
{
	padding:10px 20px;
	background:black;
	border-bottom:1px solid #eee;
	display:flex;
	align-items: center;
	position:relative;
	height:62px;
	color:white;
	fill:white;
}
.nav_left
{
	flex:1;
}
.nav_brand
{
	text-decoration:none;
	display:inline-block;
}
.nav_brand .brand_text
{
	font-family:"Hind Madurai";
	font-weight:700;
	color:white;
	font-size:42px;
	letter-spacing: -1px;
	padding-top:5px;
	line-height:1;
}
.nav_brand:hover
{

}
.nav_links
{
	margin-right:30px;
}
.nav_user_img 
{
	width:45px;
	border-radius:50%;
	background:white;
}
.btn_user
{
	display:block;
	line-height:1;
}
.user_popup
{
	display:none;
	background:white;
	position:absolute;
	top:52px;
	right:0;
	z-index:1;
	border:1px solid #eee;
	padding:10px 30px 10px 20px;
	
}
.user_popup_info
{
	margin-bottom:10px;
	background:#f3f3f3;
}
.user_option
{
	display:block;
	text-decoration:none;
	font-size:16px;
	color:black;
	padding:5px 0;
}
.user_option:hover
{
	color:#444;
}
.user_popup_active
{
   display:block !important;
}



.nav_menu
{
	display:none;
}

/*---- projects ----*/
.projects_grid
{
	display:flex;
	flex-wrap:wrap;
	padding:50px 60px;
}
.project_item
{
	width:33%;
	font-size:15px;
	margin-bottom:20px;
}
.project_wrapper
{
	padding:10px;
}
.project_image
{
	width:100%;
	height:25vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.project_title
{
	font-weight:bold;
}
.project_link
{
	display:block;
	color:inherit;
	text-decoration:none;
}
.project_link:hover
{
    text-decoration: underline;
}
.project_date
{
	color:#555;
	font-size:13px;
	display:inline-block;
	margin-bottom:5px;
}
.project_top
{
	adisplay:flex;
	aalign-items:center;
}
.project_author
{
	font-size:13px;
	color:#555;
	margin-bottom:5px;
}
.project_bottom
{
	fill:#333;
	display:flex;
	margin-top:5px;
}
.project_bottom svg
{
	width:24px;
	margin-right:5px;
}
.project_bottom_item
{
	margin-right:10px;
	font-size:13px;
	color:#555;
	display:flex;
	align-items:center;
}

/*---- project page ---*/
.project_info
{
	display:flex;
	padding:50px 100px;
}
.project_left
{
	flex:1;
	padding-right:40px;
}
.project_right
{
	max-width:250px;
}
.author_section
{
	background:#f0f0f0;
	margin-bottom:20px;
	padding:20px 20px 20px 20px;
}
.author_name
{

}
.author_image
{
	width:100%;
}
.project_section
{
	background:#f0f0f0;
	margin-bottom:20px;
	padding:20px 20px 20px 20px;
}

/*---- header ----*/
.header
{
	position:relative;
	display:flex;
	background:url("../img/cover.jpg");
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
	background-color:white;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100vh;
}
.shadow::after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%; /*100vh;*/
	background: rgba(0,0,0,0.4);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

/* ---- RESPONSIVE -----------------*/

@media (max-width: 768px) 
{
.nav_menu
{
	display:block;
}
}