<nav>
	<div class="nav_left">
		<a class="nav_brand" href=".">
			<h3 class="brand_text">MESH REPOSITORY</h3>
		</a>
		<a href="#" class="nav_menu">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
		</a>
	</div>
	<div class="nav_links">
		<!--<a href="" class="nav_link">es</a>
		<a href="" class="nav_link">en</a>-->
	</div>
	<div class="nav_user">
		<a href="#" class="btn_user">
			<div class="nav_user_img"></div>
		</a>
	</div>

	<div class="user_popup">
		<div class="user_popup_anonymous">
			<a href="login.html" class="user_option" aria-lng="user_option_signin"></a>	
			<a href="login.html#signup" class="user_option" aria-lng="user_option_signup"></a>
		</div>
		<div class="user_popup_signed hide">
			<div class="user_popup_info">
				<div class="user_popup_name"></div>
			</div>
			<div class="user_popup_options">
				<a href="edit.html" id="btn_projects" aria-lng="user_option_projects" class="user_option"></a>
				<!--<a href="edit.html#account" id="btn_account" aria-lng="user_option_account" class="user_option"></a>-->
				<a href="#" id="btn_signout" aria-lng="user_option_signout" class="user_option"></a>
			</div>
		</div>
	</div>
</nav>

<div id="modal_msg" class="modal_popup hide">
	<div class="modal_window">
		<div class="modal_header"></div>
		<div class="modal_body"></div>
		<div class="modal_footer">
			<a href="#" class="modal_btn_accept btn_default" aria-lng="modal_btn_accept"></a>
		</div>
	</div>
</div>


